.descripationpage .path {
  margin: 0 96px 39px 96px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.3px;
  line-height: 1;
  color: #426B1F;
}
.descripationpage .container-2 {
  margin-right: 38.5px;
  width: 240.5px;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 400;
  font-size: 64px;
  letter-spacing: -1.3px;
  line-height: 1.2;
  color: #000000;
}
.descripationpage .from {
  margin-bottom: 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.descripationpage .to {
  margin: 0 11.6px 0 13px;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.descripationpage .container {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.descripationpage .container-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 326.6px;
  height: fit-content;
  box-sizing: border-box;
}
.descripationpage .divider {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #E6E6E6;
  position: absolute;
  left: 96px;
  right: 96px;
  bottom: -2px;
  height: 2px;
}
.descripationpage .page-heading {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 40px;
  padding: 56px 96px 16px 96px;
  width: 1440px;
  box-sizing: border-box;
}
.descripationpage .subwaypathbox {
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 557px;
  height: 520px;
}
.descripationpage .subway-walk {
  margin: 0 2px 4px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.descripationpage .container-3 {
  margin: 0 2px 8px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #426B1F;
}
.descripationpage .container-4 {
  margin: 0 11px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6D6D6D;
}
.descripationpage .subwaypath {
  border-radius: 24px;
  border: 2px solid #E6E6E6;
  background: #FAFAF5;
  margin-right: 44px;
  display: flex;
  flex-direction: column;
  padding: 25px 21px 18px 20px;
  box-sizing: border-box;
}
.descripationpage .busbikepathbox {
  background: #D9D9D9;
  margin-bottom: 16px;
  width: 557px;
  height: 520px;
}
.descripationpage .bus-bike {
  margin: 0 2px 4px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.descripationpage .container {
  margin: 0 2px 8px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #426B1F;
}
.descripationpage .container-1 {
  margin: 0 11px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'NanumGothic';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6D6D6D;
}
.descripationpage .busbikepath {
  border-radius: 24px;
  border: 2px solid #E6E6E6;
  background: #FAFAF5;
  display: flex;
  flex-direction: column;
  padding: 25px 21px 18px 20px;
  box-sizing: border-box;
}
.descripationpage .container-2 {
  margin: 0 96px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.descripationpage {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 41px 0 52px 0;
  width: 1440px;
  box-sizing: border-box;
}
